<!DOCTYPE html>
<html>
<head>
  <title>PositionService</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

  <% if session[:userId] || session[:adminId] %>
  <%= link_to "Logga ut", logout_path %>
<% end %>
  
<%= yield %>

</body>
</html>
