
<div id="menu">
  <%= link_to("Tillbaka",root_path) %>
</div>

<h1>Registrera dig</h1>

<div id="reg_form">
<%= form_for @user do |f| %>
  <%= f.label :email, "Email: " %> 
  <%= f.text_field :email %>

  <%= f.label :appSite, "URL till din applikation: " %>
  <%= f.text_field :appSite %>

  <%= f.label :appDescription, "Beskriv din applikation: " %>
  <%= f.text_area :appDescription %>

  <%= f.label :password, "Lösenord: " %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation, "Lösenord igen: " %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit "Registrera", class: "submit_button" %>
</div>
<% end %>

    <%
      # alla meddelanden skrivs ut om det finns några
    %>
<% if @user.errors.full_messages.any? %>
  <ul class="errors">
    <% @user.errors.each do | attr, msg| %>
      <li class="notice">
        <%= msg  %>
      </li>
    <% end %>
  </ul>
<% end %>



