


<% 
#skriver ut alla nycklar som finns 
%>

<% if(@keys.count == 0) %>

<p>Det finns inga aktiva användare.</p>

<% else %>
  <table id="keys_table">
    <tr>
      <th></th>
      <th>Email</th>
      <th>Nyckel</th>
      <th>Nyckelanvändningar</th>
      <th>Webbplats</th>
      <th>Beskrivning av applikation</th>
    </tr>

  <% @keys.each do |key| %>
    <tr>
      <td><%= link_to "ta bort",key_path(key.id), data: { confirm: "Are you sure?" }, method: :delete %></td>
      <td><%= key.user.email %></td> 
      <td><%= key.key %></td>
      <td><%= key.callCount %></td>
      <td><%= key.user.appSite %></td>
      <td><%= key.user.appDescription %></td>
    </tr>

  <% end %>  
</table>

<% end %>
