<h1>Registrera dig</h1>

    <%
      # alla meddelanden skrivs ut om det finns några
    %>
<% if @user.errors.full_messages.any? %>
  <% @user.errors.each do | attr, msg| %>
    <p>
      <%= msg  %>
    </p>
  <% end %>
<% end %>

<%= form_for @user do |f| %>
  <%= f.label :email, "Email: " %> 
  <%= f.text_field :email %>

  <%= f.label :appSite, "URL till din applikation: " %>
  <%= f.text_field :appSite %>

  <%= f.label :appDescription, "Beskriv din applikation: " %>
  <%= f.text_area :appDescription %>

  <%= f.label :password, "Lösenord: " %>
  <%= f.password_field :password %>

<%= f.label :password_confirmation, "Lösenord igen: " %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit %>

<%end%>





