<!DOCTYPE html>
<html>
<head>
  <title>PositionService</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div id="container">

    <div id="header">
      <p id="logo-text">API-nyckel</p>
    </div>

    <%
      # utloggning
    %>  
    
    <div id="main_content">
      
      
    <div id="logout">
      <% if session[:userId] || session[:adminId] %>
        <%= link_to "Logga ut", logout_path %> 
      <% end %>
    </div>
        
    <%
      # meddelanden skrivs ut om det finns några
    %>
    <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
    
    <%= yield %>

    </div>
  </div>
  
</body>
</html>
